@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --main-c: #318eb7ba;
  --border-r: 2rem
}

.html *{
background-color: #ededed;
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
}

p{
  font-size: 1.1rem;
}

a{
  text-decoration: none;
}



h1{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 10px;
}

h2{
  font-size: 2.5rem;
  font-weight: 600;
}

h3{
  font-size: 2.2rem;
  font-weight: 500;
}

h4{
  font-size: 1.5rem;
  font-weight: 400;
}


/**################################## Home Section #######################################*/
.home-section {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: var(--navbar-height);
}

.wrap-home-section{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  z-index: 2;
}

.wrap-home-section > div{
  width: 100%;
  padding: 0 10%;
}

.wrap-home-section h1 {
  font-size: 4rem;
}

.home-btns{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.highlight {
  text-decoration: underline;
  color: #43c7ff;
}

.home-section h3{
  font-weight: 500;
  font-size: 2rem;
}

.wrap-cta{
  text-align: center;
  width: 15rem;
  display: block;
  background: #1b3039e5;
  border: 1px  #1b3039e5;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  padding: 1rem 3rem;
  transition: background-color 0.3s ease;
}

.wrap-cta:hover {
  background-color: #ffa701;
  color: #ededed;
}

/**################################## Sliderbox #######################################*/

.slider_box {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.slider_box::after{
  content: '';
  background: linear-gradient(to top, #1b3039e5, transparent);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider {
  display:flex ;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider li {
  width: 25%;
  list-style: none;
  position: relative;
}

.slider_box .ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider div {
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  background-image: url('../imagenes/albanil.png');
  background-size: cover;
}

@media screen and (max-width: 900px) {
  .home-section {
    flex-direction: column;
    height: auto;
    margin-bottom: auto;
  }
  .slider_box {
    display: none;
  }
  .wrap-home-section h3{
    font-size: 1.5rem;
    text-align: justify;
  }
  .wrap-home-section h1{
    font-size: 3rem;
  }
  .home-btns{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    margin-top: 1rem;
    margin-left: 2.5rem;
    font-size: 14px;
  }
  
  .wrap-home-section img {
    max-width: 4.5rem;

  }
  .wrap-cta {
    width: 11rem;
    padding: 0.5rem 1rem;
  }
}
/**################################## The idea #######################################*/

.idea-section{
  min-height: 90vh;
  align-items: center;
  padding: 15% 5%;
}

.wrap-idea {
  display: flex;
  max-width: 75rem;
  flex-direction: column;
  align-items: center;
  background-color: #edededdc;
  border-radius: 20px;
  padding: 0 5%;
  background-image: url('../imagenes/fondo.png');
  background-size:contain;
  background-repeat:round;
  background-position: 100%;
  background-blend-mode: soft-light;

}

.column-wrap {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 100%;
}
.image-column {
  flex: 1;
}
.image-column2{
  flex: 1;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.text-features{
  flex: 1;
  padding-left: 2%;
}
.text-idea {
  flex: 1;
  padding-left: 5%;
}
.wrap-idea h2 {
  color: #43c7ff;
}
.idea-section h2 {
  margin-bottom: 0,7rem;
}
.image-idea {
  max-width: 50%
}
@media only screen and (max-width: 600px) {
  .column-wrap {
      flex-direction: column;
  }

  .wrap-idea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .idea-section {
    justify-content: center;
    align-items: center;
  }
  .text-features{
    flex: 1;
    justify-content: center;
  }
  h3 {
    text-align: center;
  }
  .image-column2 {
    margin-bottom: 1%;
  }

  .idea-section{
    min-height: 50vh;
    align-items: center;
    padding: 15% 5%;
  }
}

@media only screen and (max-width: 400px) {
  .column-wrap {
      flex-direction: column;
  }

  .wrap-idea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .idea-section {
    justify-content: center;
    align-items: center;
  }
  .text-features{
    flex: 1;
    justify-content: center;
  }
  h3 {
    text-align: center;
  }
  .image-column2 {
    margin-bottom: 1%;
  }
  .idea-section{
    min-height: 50vh;
    align-items: center;
    padding: 15% 5%;
  }
}

@media only screen and (max-width: 1200px) {
    .idea-section{
      min-height: 50vh;
      align-items: center;
      padding: 15% 5%;
    }
}
@media only screen and (max-width: 360px) {
  .idea-section{
    min-height: 50vh;
    align-items: center;
    padding: 15% 5%;
    display: flex;
  }
}
/**################################## Tecnologias #######################################*/

.tecnologias {
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.25rem;
}
.tecnologias .row{
  align-items: center;
  height: 50vh;
  margin: 5%;
}
.conteiner-tech {
  margin: 1rem;
}
.tecnologias h2{
  text-align: center;
  margin-top: 2.5rem;
  color: #43c7ff;
  margin-right: 10px;
}
.tecnologias p{
  font-weight: 300;
}

.tecnologias .container {
  display: block;
  align-items: center;
}

.tecnologias img {
  cursor: pointer;

}

.hiden-text {
  display: none;
}

.tecnologias p{
  margin-top: 10%;
}

.tecnologias img:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  .tecnologias h2 {
    font-size: 25px;
  }
  .google-text 
  .dart-text
  .flutter-text
  .firebase-text {
    font-size: 1.2rem;
    font-weight: 400;
  }
 .tecnologias {
  flex-direction: column;
 }
}
@media screen and (max-width: 600px) {
  .tecnologias {
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem;
  }
}
@media screen and (max-width: 1200px) {
  .tecnologias {
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem;
  }}

/**arrow*/
.arrow-button {
  top: 400%;
  right: 30px;
  font-size: 24px;
  color: #0000002c;
  background-color: rgba(226, 226, 226, 0.73);
  border: none; 
  border-radius: 50%; 
  padding: 15px; 
  cursor: pointer;

}
.arrow-button:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .arrow-button {
  max-width: 20px; 
  background-color:rgba(36, 113, 181, 0);
  cursor: pointer;
  }

.arrow-button:hover{
  transform: scale(1.1);
}
  }


/**################################## About us #######################################*/
.about-us {
  height: 50vh;
  text-align: center;
  margin-top: 30px;
  align-items: center;
  position: relative;
}

.about-us h2{
  text-align: center;
  margin-top: 10px;
  color: #43c7ff;;
}

.about-us article h4 {
  color: #ededed;
  font-size: 1.3rem;
}

.about-us p{
  color: #ededed;
  font-size: 1rem;
  font-weight: 300;
}

.about-us article img {
  width: 20px;
  height: 20px;
  display: end;
  margin-right: 0;
}

.members-card-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.member-card{
  position: relative;
  overflow: hidden;
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
}
.member-info {
  opacity: 0;
  position: absolute;
  bottom: 0; /*arriba de las imagenes*/
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: .1rem;
  background: linear-gradient(to top, #1b3039e5, transparent);
  z-index: 1;
  padding: 10%;
  width: 100%;
  max-height: 100%;
  transition: opacity .3s ease;
}

.member-card:hover .member-info{
  opacity: 100%;
}

@media only screen and (max-width: 600px) 
{
.conteiner{
  display: flex;
  justify-content: center;
  
}
.members-card-wrapper {
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  justify-content: center;
}
}


/*sliderbox*/
.home-section {
  display: flex;
  justify-content: center;
}

.wrap-home-section {
  width: 100%;
  max-width: 75rem;
}

.content {
  display: flex;
  flex: 1;
}

.column1 {
  flex: 1;
}

.column2 {
  flex: 1;
}

@keyframes slide {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}
@media(max-width:991px){
  
  .slider_box {
      width: 50%;
      
  }
  .slider li {
      width: 50%;
      display: flex;
      
      align-items: end;
  }
  .content {
      flex-direction: column;
  }
}    